:root {
  --color-primario: #FFA800;    /* Naranja brillante */
  --color-fondo: #F9F5EE;       /* Fondo crema suave */
  --color-blanco: #FFFFFF;      /* Blanco puro */
  --color-texto: #333333;       /* Texto principal */
  --color-texto-sec: #777777;   /* Texto secundario */
  --color-gris-claro: #E0E0E0;  
  --color-gris-medio: #CCCCCC;  
  --color-rojo: #FF4C4C;        
  --radio: 8px;                 
  --sombra: rgba(0, 0, 0, 0.05); 
  --padding: 20px;
  --fuente-base: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: var(--fuente-base);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.4;
}

/* Header / Navbar */

header h1 {
    font-size: 1.4rem;
}

.logo-link {
    text-decoration: none;
    color: var(--color-primario);
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-links .welcome-text {
    font-size: 0.95rem;
    color: var(--color-texto-sec);
}

.header-links a { 
    text-decoration: none;
    font-size: 0.95rem;
    color: var(color --color-primario);
    transition: color 0.2s ease;
}

.header-links a:hover {
    color: darken(var(--color-primario), 10%);
}